@charset "UTF-8";


/*-------member-section----------------------*/
#member-section{
	margin-top : 40px;		
}

	.member-menu{
		
	}

		.member-menu > ul > li{ 
			display: inline-block;
		} 
     
    .member-form{
    
    }
    
	    .member-form > ul >li{
	    	width: 100%;
	    }
	    
	    .member-form > .submit-button{
    		margin-top : 40px;
    	} 
	    
	    
	    
    
    
    
    
    
    
    
    
    