@charset "UTF-8";
/*--------------- 공통 css ---------------*/
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

/*--------------- 리셋   ------------------*/
body {
	padding: 0px;
	margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0px;
}

textarea{
	resize: none;
}

p {
	margin: 0px;
}

ul{ 
	padding : 0px; 
	margin : 0px;
}

li{
	list-style-type: none; 
}

a{
	color: #000000;
	text-decoration: none;
} 
 
*{
	box-sizing: border-box;
}


/*--text-------------------------------------*/
body {
	font-family: 'Jeju Gothic', sans-serif;
} 

.text-sm{
	font-size: 0.8em;
}

.text-lg{
	font-size: 1.2em;
}

/*------------------공통 class---------------------*/
.hidden{
	display: none;
}

.cutive-mono{
	font-family: 'Cutive Mono', monospace; 
}

.noto-sans{
	font-family: ‘Noto Sans KR’ ; 
}

.jeju-gothic{
	font-family: 'Jeju Gothic', sans-serif;
}

.font-sm{
	font-size: 10px;
}

.font-md{ 
	font-size: 13px;
}
 

.pagination{
	text-align: center;
	justify-content: center;
    align-items: center; 
}

.pagination-item{
	/* width: 100%; */
	box-shadow: inset 0px 0px 0px 0px #ffffff;
    background-blend-mode: lighten;
    background-color: rgba(0,0,0,0);
    border-radius: 0px;
    padding: 5px 10px;
    margin: 8px 1px;  
    border-radius: 0px;
    background: #fff;
    border: 1px solid #000;
    color: #000;
    box-sizing: border-box;
    margin: 1;
    cursor: pointer; 
    text-align: center;
}

.pagination-item:hover{
    background-color: #000;
    color: #fff;
}

.pagination-item-disabled{
    background-color: #000;
    color: #fff;
}

.flex{
	display: flex;
}


.flex-center{
	justify-content: center;
    align-items: center;
}

.flex-vertical-center{
	align-items: center;
}

.main-container{  
	margin-top : 10px;
	margin-left : auto;
	margin-right: auto;
	padding : 0% 5%;
}

.section-margin{
	margin-top: 10px;
}   

.main-title{ 
	margin: 10px 0px; 
}

.photo{
	width:100px;
	height:100px;
	object-fit: cover;
	border-radius: 30px;
}

.margin-left{
	
	margin-left: 10px;
	
}

/*----------input-box------------*/
.text-input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;  
    border: 1px solid #a9a9a9;
}

.div-box-black{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;  
    border: 1px solid #000000;
}

.div-box-gray{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;  
    border: 1px solid #a9a9a9;
}

.input-explanation{
	font-size: 0.8em;		
}

.input-success{
	border: 1px solid #000;
}

/*---------button---------------*/
.button{
	width: 100%;
	box-shadow: inset 0px 0px 0px 0px #ffffff;
    background-blend-mode: lighten;
    background-color: rgba(0,0,0,0);
    border-radius: 0px;
    padding: 12px 20px;
    margin: 8px 0;  
    border-radius: 0px;
    background: #fff;
    border: 1px solid #000;
    color: #000;
    box-sizing: border-box;
    margin: 1;
    cursor: pointer; 
    text-align: center;
} 

.button-inline{
	margin:0px;
}

.select{
	width: 100%;
	box-shadow: inset 0px 0px 0px 0px #ffffff;
    background-blend-mode: lighten;
    background-color: rgba(0,0,0,0);
    border-radius: 0px;
    padding: 8px;
    border-radius: 0px;
    background: #FFF;
    border: 1px solid #a9a9a9;
    color: #000;
    box-sizing: border-box;
    margin: 1;
    cursor: pointer;
    text-align: center;
}

.button:hover{
    background-color: #000;
    color: #fff;
}


/*------------------공통 header 부분-----------------*/
#header{
	
}

	#header > h1{
		text-align: center;
		margin-top : 10px;
	}
	
/*------------------공통 footer 부분-----------------*/
#footer {

}
 
	#footer > section{ 
		text-align: center;
		margin-top: 10%;
	    margin-bottom: 5%;
	    color: #ccc; 
	    font-size: small; 
	}
	
/*------미디어쿼리-----------------------------------*/
@media screen and (min-width:1000px) {

  .main-container{
  	margin-top : 10px;
	margin-left : auto; 
	margin-right: auto;
	padding : 0% 15%;
  }
  
}